<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <script>
            $(document).ready(function () {
                $('.message .close')
                    .on('click', function () {
                        $(this)
                            .closest('.message')
                            .transition('fade')
                        ;
                    });

                $('.ui.fluid.search.dropdown').dropdown({
                    fullTextSearch: "exact"
                });

                $('.ui.checkbox').checkbox();

                $('#api_list').dropdown();

                $('#extention_list').dropdown();

                $('#hosts_list').dropdown();

                const checkbox_hosts = document.getElementById('all_hosts_checkbox')

                checkbox_hosts.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=host_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })

                const checkbox_networks = document.getElementById('all_networks_checkbox')

                checkbox_networks.addEventListener('change', (event) => {
                    elements = document.querySelectorAll('[id=network_checkbox]');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].checked = event.currentTarget.checked;
                    }
                })


                $('#network_elem').change(function () {
                    document.getElementById("network_elem_hidden").value = trimChar($(this).val().join(','), ',');
                    console.log($(this).val());
                });
                $('#port_elem').change(function () {
                    document.getElementById("port_elem_hidden").value = trimChar($(this).val().join(','), ',');
                    console.log($(this).val());
                });

            });


            function trimChar(string, charToRemove) {
                while (string.charAt(0) == charToRemove) {
                    string = string.substring(1);
                }

                while (string.charAt(string.length - 1) == charToRemove) {
                    string = string.substring(0, string.length - 1);
                }

                return string;
            }

            function view_results(path) {
                //network
                var network = document.getElementById("network_elem_hidden").value;

                //port
                var port = document.getElementById("port_elem_hidden").value;

                //ip_hostname
                var ip_hostname = encodeURIComponent(document.getElementById("ip_hostname").value);

                //service
                var service = encodeURIComponent(document.getElementById("service_elem").value);

                //issue
                var issue_name = encodeURIComponent(document.getElementById("issue_name").value);

                //comment
                var comment = encodeURIComponent(document.getElementById("comment_elem").value);

                var checked_str = '';
                if (document.getElementById('high_elem').checked) {
                    checked_str += '&threats[]=high';
                }
                if (document.getElementById('medium_elem').checked) {
                    checked_str += '&threats[]=medium';
                }
                if (document.getElementById('low_elem').checked) {
                    checked_str += '&threats[]=low';
                }
                if (document.getElementById('info_elem').checked) {
                    checked_str += '&threats[]=info';
                }
                if (document.getElementById('check_elem').checked) {
                    checked_str += '&threats[]=check';
                }
                if (document.getElementById('checked_elem').checked) {
                    checked_str += '&threats[]=checked';
                }
                if (document.getElementById('noscope_elem').checked) {
                    checked_str += '&threats[]=noscope';
                }

                let url = path + '?network=' + network + '&port=' + port + '&ip_hostname=' + ip_hostname + '&service=' + service + '&issue_name=' + issue_name + '&comment=' + comment + checked_str;
                let win = window.open(url, '_blank');
                win.focus();

            }

        </script>
        <div class="ui column" style="width: calc(100% - 75px)">
            <h1 class="ui dividing header">Exporter</h1>
            <div class="ui container" style="width: 100%">
                <div class="ui relaxed divided items">
                    <div class="item">
                        <div class="ui small image">
                            <i class="download massive icon" style="width:100%"></i>
                        </div>
                        <div class="content">
                            <a class="header">Exporter</a>
                            <div class="meta">
                                <a>Output formatting</a>
                            </div>
                            <div class="description">
                                This module can export hosts with your rules.
                            </div>
                            <div class="extra">
                                <a href="https://gitlab.com/invuls/pentest-projects/pcf/-/wikis/Tools%20usage" class="ui right floated purple button" target="_blank" rel="noopener noreferrer">
                                    Wiki
                                    <i class="right chevron icon"></i>
                                </a>
                                <div class="ui label">PCF module</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div style="width:100%; margin-bottom:70px;">
                    <h2 class="ui header" style="float:left">Export filters</h2>
                    <button type="button" class="ui button blue" style="float:right" onclick="view_results('../../hosts/');"><i class="eye icon"></i>View results</button>
                </div>
                <form style="width: 100%; float:left" class="ui form" enctype="multipart/form-data" method="post" action="/project/{{ current_project['id'] }}/tools/exporter/">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="ui grid">
                        <div class="four wide column">
                            <input type="hidden" id="network_elem_hidden" name="network"
                                   {% if 'network' in request.args %}value="{{ escape(request.args.get('network')) }}"{% endif %}>
                            <div class="ui field">
                                <select id="network_elem" class="ui fluid search dropdown" multiple="">
                                    <option value="">Networks</option>
                                    {% set networks = db.select_project_networks(current_project['id']) %}
                                    {% for network in networks %}
                                        <option id="network_select" value="{{ network['id'] }}"
                                                {% if 'network' in request.args and network['id'] in request.args['network'] %}selected {% endif %}>{{ network['ip'] }}/{{ network['mask'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="hidden" id="port_elem_hidden" name="port"
                                   {% if 'port' in request.args and request.args['port'] %}value="{{ escape(request.args['port']) }}"{% endif %}>
                            <div class="ui field">
                                <select id="port_elem" class="ui fluid search dropdown" multiple="">
                                    <option value="">Ports</option>
                                    {% set port_arr = [] %}
                                    {% if 'port' in request.args and request.args['port'] %}
                                        {% set port_arr = request.args['port'].split(',') %}
                                    {% endif %}}
                                    {% set ports = db.select_project_ports_unique(current_project['id']) %}
                                    {% for port in ports %}
                                        {% if port['is_tcp'] %}
                                            {% set port_proto = 'tcp' %}
                                        {% else %}
                                            {% set port_proto = 'udp' %}
                                        {% endif %}
                                        {% set port_str = str(port['port']) + '/' + port_proto %}
                                        <option id="port_select" value="{{ port_str }}" {% if port_str in port_arr %}
                                                selected {% endif %}>{{ port_str }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui field">
                                <div class="ui left icon input" style="width: 100%">
                                    <input type="text" placeholder="ip / hostname" name="ip_hostname"
                                           id="ip_hostname"
                                            {% if 'ip_hostname' in request.args %}
                                           value="{{ escape(request.args['ip_hostname']) }}" {% endif %}>
                                    <i class="server icon"></i>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui left icon input" style="width: 100%">
                                    <input type="text" name="service" placeholder="service1,service2"
                                           id="service_elem"
                                            {% if 'service' in request.args %}
                                           value="{{ escape(request.args['service']) }}" {% endif %}>
                                    <i class="fork icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <div class="ui field">
                                <div class="ui left icon input" style="width: 100%">
                                    <input type="text" name="issue_name" placeholder="issue name" id="issue_name"
                                            {% if 'issue_name' in request.args %}
                                           value="{{ escape(request.args['issue_name']) }}" {% endif %}>
                                    <i class="bug icon"></i>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui left icon input" style="width: 100%">
                                    <input type="text" placeholder="host comment" name="comment" id="comment_elem"
                                            {% if 'comment' in request.args %}
                                           value="{{ escape(request.args['comment']) }}" {% endif %} >
                                    <i class="comment icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="three wide column"
                             style="height: 116px; overflow: auto; padding-top: 0px; padding-bottom: 0px; margin-top:3px">
                            {% set threats = request.args.getlist('threats[]') %}
                            <div class="ui checkbox">
                                <input type="checkbox" id="high_elem" name="threats" value="high"
                                        {% if 'high' in threats %} checked {% endif %} id="high_elem">
                                <label><i class="warning circle red icon"></i>High</label>
                            </div>
                            <br/>
                            <div class="ui checkbox">
                                <input type="checkbox" name="threats" value="medium" {% if 'medium' in threats %}
                                       checked {% endif %} id="medium_elem">
                                <label><i class="warning circle yellow icon"></i>Medium</label>
                            </div>
                            <br/>
                            <div class="ui checkbox">
                                <input type="checkbox" name="threats" value="low" {% if 'low' in threats %}
                                       checked {% endif %} id="low_elem">
                                <label><i class="warning circle green icon"></i>Low</label>
                            </div>
                            <br/>
                            <div class="ui checkbox">
                                <input type="checkbox" name="threats" value="info" {% if 'info' in threats %}
                                       checked {% endif %} id="info_elem">
                                <label><i class="warning circle blue icon"></i>Info</label>
                            </div>
                            <br/>
                            <div class="ui checkbox">
                                <input type="checkbox" name="threats" value="check" {% if 'check' in threats %}
                                       checked {% endif %} id="check_elem">
                                <label><i class="help circle purple icon"></i>Need to check</label>
                            </div>
                            <br/>
                            <div class="ui checkbox">
                                <input type="checkbox" name="threats" value="checked" {% if 'checked' in threats %}checked {% endif %} id="checked_elem">
                                <label><i class="flag red icon"></i>Checked</label>
                            </div>
                            <div class="ui checkbox" style="margin-top: .5em;">
                                <input type="checkbox" name="threats" value="noscope" {% if 'noscope' in threats %} checked {% endif %} id="noscope_elem">
                                <label><i class="circle minus black icon"></i>Not in scope</label>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <h2 class="ui header">Export rules</h2>
                    <div class="two fields">
                        <div class="ui field">
                            <div class="ui field">
                                <label>Separator (for .txt)</label>
                                <input type="text" value="[newline]" name="separator" placeholder="[newline]">
                            </div>
                            <div class="ui field">
                                <label>Filename</label>
                                <div class="two fields">
                                    <div class="ui field">
                                        <input type="text" value="export" name="filename" placeholder="export">
                                    </div>
                                    <div class="ui field">
                                        <select class="ui dropdown selection search" id="extention_list" name="filetype">
                                            <option value="txt" selected>.txt</option>
                                            <option value="csv">.csv</option>
                                            <option value="xml">.xml</option>
                                            <option value="json">.json</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="ui field">
                                <label>Prefix/Postfix</label>
                                <div class="two fields">
                                    <div class="ui field">
                                        <input type="text" name="prefix" placeholder="http://">
                                    </div>
                                    <div class="ui field">
                                        <input type="text" name="postfix" placeholder="/admin/">
                                    </div>
                                </div>
                            </div>
                            {% if errors is defined and errors %}
                                <div class="ui error message visible">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        There were some errors with host
                                    </div>
                                    <ul class="list">
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <button style="margin-top:20px" type="submit" class="ui button orange"><i class="download icon"></i>Export</button>
                        </div>
                        <div class="ui field">
                            <div class="ui field">
                                <label>Hosts to export:</label>
                                <select class="ui dropdown selection search" id="hosts_list" name="hosts_export">
                                    <option value="ip&hostname">ip-addresses &amp; hostnames</option>
                                    <option value="ip">ip-addresses</option>
                                    <option value="hostname">hostnames</option>
                                    <option value="ip&hostname_unique">hostnames &amp; ip without hostnames</option>
                                </select>
                            </div>
                            <div class="ui field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="add_ports" value="1">
                                    <label>Add ports (for .txt: 127.0.0.1:22\n...)</label>
                                </div>
                            </div>
                            <div class="ui field">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="open_in_browser" value="1">
                                    <label>Just show file content in browser</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>