<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            <div>
                {% set ports = db.select_project_ports_grouped(current_project['id']) %}
                <h1 class="ui header" style="float: left">Services: {{ len(ports) }}</h1>
                <a class="ui button blue" style="float:right" href="new_service"><i
                        class="plus icon"></i>Add</a>
                <div class="ui divider" style="float:left; width: 100%"></div>
            </div>
            <style>
                tr.odd {
                    background-color: #fffdc2;
                }

                tr.even {
                    background-color: #c3ffcd;
                }

                .ui.menu:last-child {
                    margin-bottom: 0px;
                }

                table.dataTable tr.dtrg-group td {
                    cursor: pointer;
                    background-color: lightblue;
                }

            </style>
            <script>
                var collapsedGroups = {};
                $(document).ready(function () {
                    var table = $('#services_list').DataTable({
                        "order": [[0, "asc"]],
                        "iDisplayLength": -1,
                        aLengthMenu: [
                            [10, 25, 50, 100, 200, -1],
                            [10, 25, 50, 100, 200, "All"]
                        ],
                        rowGroup: {
                            // Uses the 'row group' plugin
                            dataSrc: function (row) {
                                var el = document.createElement('html');
                                el.innerHTML = row[0].display;
                                var field = el.children[1].children[0]["dataset"].value;
                                return field;
                            },

                            startRender: function (rows, group) {

                                var collapsed = !!collapsedGroups[group];

                                var hosts_amount = 0;

                                rows.nodes().each(function (r) {
                                    r.style.display = collapsed ? 'none' : '';
                                    hosts_amount = hosts_amount + Number(r.id);

                                });

                                var el = document.createElement('html');
                                el.innerHTML = group;

                                // Add category name to the <tr>. NOTE: Hardcoded colspan
                                return $('<tr/>')
                                    .append('<td>' + group + '</div></td><td></td><td></td><td>' + hosts_amount + ' hosts</td><td></td>')
                                    .attr('data-name', group)
                                    .toggleClass('collapsed', collapsed);

                            }
                        }
                    });
                    $('#services_list tbody tr.dtrg-start').each(function () {
                        var name = $(this).data('name');
                        collapsedGroups[name] = !collapsedGroups[name];
                    });
                    table.draw(false);

                    $('#services_list tbody').on('click', 'tr.dtrg-start', function () {
                        var name = $(this).data('name');
                        collapsedGroups[name] = !collapsedGroups[name];
                        table.draw('page');
                    });

                    $('#services_list').on('draw.dt', function () {
                        console.log('hello there');
                        $('tr').each(function () {
                            console.log(this.attributes['data-name']);
                            if (this.attributes['data-name'] === undefined && this.id !== 'table_header') {
                                if (collapsedGroups[this.attributes.sort.value] === undefined) {
                                    collapsedGroups[this.attributes.sort.value] = true;
                                }
                                this.style.display = collapsedGroups[this.attributes.sort.value] ? 'none' : '';
                            }
                        })
                    });
                    table.draw(false);
                });
            </script>
            <div class="ui container" style="width: 100%;float:left;">
                <table id="services_list" class="ui table"
                       style="width: 100%; text-align: left; vertical-align: baseline">
                    <thead>
                    <tr id="table_header">
                        <th><h4>port</h4></th>
                        <th><h4>service</h4></th>
                        <th><h4>info</h4></th>
                        <th><h4>hosts</h4></th>
                        <th style="width: 200px;"><h4>threats</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for current_port in ports %}
                        <tr id="{{ len(current_port['host_id']) }}"
                            sort="{{ current_port['port'] }}/{{ 'tcp' if current_port['is_tcp'] else 'udp' }}">
                            <td data-order="{{ current_port['port'] }}"
                                data-value="{{ current_port['port'] }}/{{ 'tcp' if current_port['is_tcp'] else 'udp' }}"
                                display="{{ current_port['port'] }}/{{ 'tcp' if current_port['is_tcp'] else 'udp' }}">
                                <a href="/project/{{ current_project['id'] }}/hosts/?port={{ current_port['port'] }}%2f{{ 'tcp' if current_port['is_tcp'] else 'udp' }}&service={{ urlencode(current_port['service']) }}"
                                   class="link"
                                   data-value="{{ current_port['port'] }}/{{ 'tcp' if current_port['is_tcp'] else 'udp' }}">{{ current_port['port'] }}/{{ 'tcp' if current_port['is_tcp'] else 'udp' }}</a>
                            </td>
                            <td><h4>{{ escape(current_port['service']) }}</h4></td>
                            <td style="word-break: break-all; white-space:pre-wrap;"><h4>{{ escape(current_port['description']) }}</h4></td>
                            <td>
                                <h4>
                                    <ul class="ui list">
                                        {% if len(current_port['host_id']) > 5 %}
                                            {% for host_id in current_port['host_id'][:5] %}
                                                <li>
                                                    <a href="/project/{{ current_project['id'] }}/host/{{ host_id }}/">{{ escape(db.select_project_host(current_project['id'], host_id)[0]['ip']) }}</a>
                                                </li>
                                            {% endfor %}
                                            . . .<br/>
                                            <a href="/project/{{ current_project['id'] }}/hosts/?port={{ current_port['port'] }}%2f{{ 'tcp' if current_port['is_tcp'] else 'udp' }}&service={{ urlencode(current_port['service']) }}">{{ len(current_port['host_id']) }}
                                                hosts at all</a>
                                        {% else %}
                                            {% for host_id in current_port['host_id'] %}
                                                {% set host = db.select_project_host(current_project['id'], host_id) %}
                                                <!-- TODO: delete -->
                                                {% if not host %}
                                                    {% set to_del = db.delete_port_safe(current_port['id']) %}
                                                {% endif %}
                                                <li>
                                                    <a href="/project/{{ current_project['id'] }}/host/{{ host_id }}/">{{ escape(db.select_project_host(current_project['id'], host_id)[0]['ip']) }}</a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </h4>
                            </td>
                            <td>
                                <div class="div-block-5 w-clearfix">

                                    {% if 'critical' in current_port['issues'] %}
                                        <i class="warning circle big red icon"></i>
                                    {% endif %}
                                    {% if 'high' in current_port['issues'] %}
                                        <i class="warning circle big orange icon"></i>
                                    {% endif %}
                                    {% if 'medium' in current_port['issues'] %}
                                        <i class="warning circle big yellow icon"></i>
                                    {% endif %}
                                    {% if 'low' in current_port['issues'] %}
                                        <i class="warning circle big green icon"></i>
                                    {% endif %}

                                    {% if 'info' in current_port['issues'] %}
                                        <i class="warning circle big blue icon"></i>
                                    {% endif %}



                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>