<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
{% include 'menu.html' %}
<div id="segment_id">
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            <div>
                {% set issues = db.select_project_issues(current_project['id']) %}
                <h1 class="ui header" style="float: left">Issues: {{ len(issues) }}</h1>
                <a class="ui button blue" style="float:right" href="/project/{{ current_project['id'] }}/new_issue"><i
                        class="plus icon"></i>Add</a>
                <div class="ui divider" style="float:left; width: 100%"></div>
            </div>
            <script>
                $(document).ready(function () {
                    var table = $('#issues_list').DataTable({
                        "order": [[4, "desc"]],
                        "iDisplayLength": -1,
                        aLengthMenu: [
                            [10, 25, 50, 100, 200, -1],
                            [10, 25, 50, 100, 200, "All"]
                        ],
                        'columnDefs': [
                            {
                                'targets': 0,
                                'searchable': false,
                                'orderable': false,
                            }, {
                                'targets': 6,
                                'searchable': false,
                                'orderable': false,
                            }],
                        "initComplete": function (settings, json) {
                            div_block = $('#issues_list_length')[0];
                            div_block.innerHTML = div_block.innerHTML + '<button type="submit" name="action" value="Archive" style="margin-left: 15px;" onclick="delete_issues()" class="ui vertical animated button red" tabindex="0">' +
                                '<div class="hidden content">Delete</div>' +
                                '<div class="visible content">' +
                                '<i class="trash icon"></i></div></button>';
                        }
                    });

                    $(document).on("click", "#example-select-all", function (e) {
                        checkboxes = document.querySelectorAll('[id=issue_checkbox]');
                        for (i = 0; i < checkboxes.length; i++) {
                            checkboxes[i].checked = this.checked;
                        }

                    });

                    rows = document.getElementsByTagName("tr");
                    i = 1;
                    while (i < rows.length) {
                        cvss = parseFloat(rows[i].children[4].innerText);
                        console.log(cvss);
                        if (cvss == 0) {
                            rows[i].style.backgroundColor = '#c0f7ff';
                        } else if (cvss <= 3.9) {
                            rows[i].style.backgroundColor = '#c3ffcd';
                        } else if (cvss <= 6.9) {
                            rows[i].style.backgroundColor = '#fffdc2';
                        } else if (cvss <= 8.9) {
                            rows[i].style.backgroundColor = '#f3c375';
                        } else {
                            rows[i].style.backgroundColor = '#ffb2b2';
                        }
                        i++;
                    }
                });

                function delete_issues() {
                    //get host ids
                    issues_ids = [];
                    checkboxes = document.querySelectorAll('[id=issue_checkbox]');
                    for (i = 0; i < checkboxes.length; i++) {
                        curr_checkbox = checkboxes[i];
                        if (curr_checkbox.checked) {
                            issues_ids.push(curr_checkbox.parentElement.parentElement.attributes[0].value);
                        }
                    }
                    if (!issues_ids.length) {
                        return null;
                    }
                    if (confirm('Delete ' + issues_ids.length + ' issues?')) {
                        csrf = '{{ csrf_token() }}';
                        data = ''
                        for (i = 0; i < issues_ids.length; i++) {
                            data += 'issue-' + (i + 1) + '=' + issues_ids[i] + '&'
                        }
                        data += 'csrf_token=' + csrf;
                        console.log('Delete');
                        console.log(data);
                        $.ajax({
                            type: "POST",
                            url: '/project/{{ current_project['id'] }}/issues/multiple_delete',
                            data: data,
                        }).done(function (response) {
                            if (response === "ok") {
                                document.location.reload();
                            }
                        });

                    } else {
                        // Do nothing!
                        console.log('Thing was not saved to the database.');
                    }
                }
            </script>
            <style>
                tr.odd {
                    background-color: #fffdc2;
                }

                tr.even {
                    background-color: #c3ffcd;
                }

                .ui.menu:last-child {
                    margin-bottom: 0px;
                }
            </style>
            <div class="ui container" style="width: 100%;float:left;">
                <table id="issues_list" class="ui table" style="width: 100%">
                    <thead>
                    <tr id="table_header">
                        <th style="width: 20px;">
                            <div class="ui fitted big checkbox">
                                <input name="select_all" value="1" id="example-select-all" type="checkbox">
                                <label></label>
                            </div>
                        </th>
                        <th style="width: 200px;"><h4>name</h4></th>
                        <th style="width: 800px;"><h4>description</h4></th>
                        <th style="min-width: 300px;"><h4>services</h4></th>
                        <th style="min-width: 100px;"><h4>CVSS</h4></th>
                        <th><h4>status</h4></th>
                        <th><h4>action</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for issue in issues %}
                        <tr>
                            <td data-value="{{ issue['id'] }}" id="checkbox_data">
                                <div class="ui fitted big checkbox">
                                    <input type="checkbox" name="issue_checkbox" id="issue_checkbox">
                                    <label></label>
                                </div>
                            </td>
                            <td style="word-break: break-all; white-space:pre-wrap;"><b>{{ escape(issue['name']) }}</b>
                            </td>
                            <td style="word-break: break-all; white-space:pre-wrap;">{{ escape('\n'.join(issue['description'].split('\n')[:5])) }}</td>
                            <td>
                                <ul class="ui list">
                                    {% set addresses = json_unpack(issue['services']) %}
                                    {% set counter = [0] %}
                                    {% for port_id in addresses %}
                                        {% set port = db.select_port(port_id)[0] %}
                                        {% for host in addresses[port_id] %}
                                            {% if counter[0] < 5 %}
                                                {% if host=="0" %}
                                                    {% set ip = db.select_host_by_port_id(port_id)[0] %}
                                                    <li>
                                                        {{ escape(ip['ip']) }}{% if port['port'] != 0 %}:
                                                            {{ escape(port['port']) }}{% endif %}</li>
                                                {% else %}
                                                    {% set hostname = db.select_hostname(host)[0] %}
                                                    <li>
                                                        {{ escape(hostname['hostname']) }}{% if port['port'] != 0 %}:
                                                            {{ escape(port['port']) }}{% endif %}</li>
                                                {% endif %}
                                            {% endif %}
                                            {% if counter.append(counter.pop() + 1) %}{% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    {% if counter[0] >5 %}
                                        ...<br/>
                                        {{ counter[0] }} hosts at all!
                                    {% endif %}
                                </ul>
                            </td>
                            <td>{{ escape(issue['cvss']) }}</td>
                            <td>{{ escape(issue['status']) }}</td>
                            <td><a class="ui button blue"
                                   href="/project/{{ current_project['id'] }}/issue/{{ issue['id'] }}/">Open</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>