<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>
<div id="segment_id">
    {% include 'menu.html' %}
    <div class="ui grid">
        <div class="ui column" style="width: 75px; padding-top: 50px;">
            {% include 'project/sidebar.html' %}
        </div>
        <div class="ui column" style="width: calc(100% - 75px)">
            {% set files = db.select_project_files(current_project['id']) %}
            <h1 class="ui dividing header">Project files: {{ len(files) }}</h1>
            <div class="ui container" style="width: 100%">
                <script>
                    $(document).ready(function () {
                        var table = $('#files_list').DataTable({
                            "order": [[0, "asc"]],
                            "iDisplayLength": 10,
                            aLengthMenu: [
                                [10, 25, 50, 100, 200, -1],
                                [10, 25, 50, 100, 200, "All"]
                            ],
                            'columnDefs': [{
                                'targets': 3,
                                'searchable': false,
                                'orderable': false,
                            }]
                        });

                        $('.ui.dropdown')
                            .dropdown({
                                fullTextSearch: "exact"
                            })
                        ;

                        $('.message .close')
                            .on('click', function () {
                                $(this)
                                    .closest('.message')
                                    .transition('fade')
                                ;
                            });
                    });
                </script>
                <style>
                    tr.odd {
                        background-color: #fffdc2;
                    }

                    tr.even {
                        background-color: #c3ffcd;
                    }

                    .ui.menu:last-child {
                        margin-bottom: 0px;
                    }
                </style>
                <table id="files_list" class="ui table" style="width:100%">
                    <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Description</th>
                        <th>Services</th>
                        <th style="width: 250px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for current_file in files %}
                        <tr>
                            <td>{{ escape(current_file['filename']) }}</td>
                            <td>{{ escape(current_file['description']) }}</td>
                            <td>
                                <ul class="ui list">
                                    {% set addresses = json_unpack(current_file['services']) %}
                                    {% for port_id in addresses %}
                                        {% set port = db.select_port(port_id)[0] %}
                                        {% for host in addresses[port_id] %}
                                            {% if host=="0" %}
                                                {% set ip = db.select_host_by_port_id(port_id)[0] %}
                                                <li>
                                                    {{ escape(ip['ip']) }}{% if port['port'] != 0 %}:
                                                        {{ escape(port['port']) }}{% if not port['is_tcp'] %} (udp)
                                                        {% endif %}{% endif %}</li>
                                            {% else %}
                                                {% set hostname = db.select_hostname(host)[0] %}
                                                <li>
                                                    {{ escape(hostname['hostname']) }}{% if port['port'] != 0 %}:
                                                        {{ escape(port['port']) }}{% if not port['is_tcp'] %} (udp)
                                                        {% endif %}{% endif %}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </td>
                            <td style="float:left;">
                                <form action="/project/{{ current_project['id'] }}/files/{{ current_file['id'] }}/"
                                      method="post"
                                      onsubmit="return delete_prompt(this,'Are you sure to delete file {{ escape(current_file['filename']) }}?')">
                                    {% if current_file['type']=='binary' %}
                                        <a class="ui button blue" href="/static/files/code/{{ current_file['id'] }}">
                                            <i class="ui download icon"></i>Download
                                        </a>
                                    {% else %}
                                        <a class="ui button purple"
                                           href="/project/{{ current_project['id'] }}/files/{{ current_file['id'] }}/">
                                            <i class="ui eye icon"></i>View
                                        </a>
                                    {% endif %}
                                    <input type="hidden" name="action" value="delete">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <button type="submit" class="ui button red"><i class="ui trash icon"></i>Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h1 class="ui dividing header">Upload file:</h1>
                <form class="ui form" style="width: 50%" enctype="multipart/form-data"
                      action="/project/{{ current_project['id'] }}/files/new" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label for="file" class="ui icon button" style="margin-bottom: 15px;">
                        <i class="file icon"></i>
                        Open File</label>
                    <input type="file" id="file" name="file" required style="display:none">
                    <div class="ui field">
                        <div class="ui labeled input">
                            <div class="ui label">
                                <i class="sticky note outline icon"></i>Description:
                            </div>
                            <textarea rows="2" name="description"></textarea>
                        </div>
                    </div>
                    {% set hosts = db.select_project_hosts(current_project['id']) %}
                    <select class="ui fluid search dropdown" multiple="" name="services" style="margin-bottom: 15px;">
                        <option value="">Select service/host</option>
                        {% set hosts = db.select_project_hosts(current_project['id']) %}
                        {% for current_host in hosts %}
                            {% set ports = db.select_host_ports(current_host['id'], full=True) %}
                            {% set hostnames = db.select_ip_hostnames(current_host['id']) %}
                            {% for current_port in ports %}
                                <option value="{{ current_port['id'] }}:0">
                                    {{ current_host['ip'] }}{% if current_port['port'] != 0 %}:
                                        {{ current_port['port'] }}{% if not current_port['is_tcp'] %} (udp)
                                        {% endif %}{% endif %}</option>
                                {% for current_hostname in hostnames %}
                                    <option value="{{ current_port['id'] }}:{{ current_hostname['id'] }}">
                                        {{ current_hostname['hostname'] }}{% if current_port['port'] != 0 %}:
                                            {{ current_port['port'] }}{% endif %}{% if not current_port['is_tcp'] %}
                                            (udp)
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                    <select class="ui dropdown" name="filetype" required>
                        <option value="">Filetype</option>
                        <option value="binary" selected>Binary</option>
                        <option value="image">Image</option>
                        <option value="text">Text</option>
                    </select>
                    <button class="ui button blue"><i class="ui upload icon"></i>Upload</button>
                </form>
                {% if errors is defined and errors %}
                    <div class="ui error message visible">
                        <i class="close icon"></i>
                        <div class="header">
                            There were some errors with project creation:
                        </div>
                        <ul class="list">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</div>
</body>
</html>